body{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.main-header {
    display: flex;
    min-height: 15vh;
    align-items: center;
    background-color: orange;
}

.main-header_nav {
    align-items: center;
    justify-content: space-around;
    flex-basis: 100%;
    height: 100%;
}

.main-header_list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    
}

.main-header_items a{
    text-decoration: none;
    border: 1px solid white;
    border-radius: 2px;
    background-color: black;
    color: white;
    padding: .25em .75em;
}